In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
fileName="COVID_FINAL_DATA.csv"
data=pd.read_csv(fileName)

In [5]:
data.head(15)

,Unnamed: 0,Cumulative,Cumulative Test positive,Cumulative tests performed,Date,Discharged,Expired,Home Quarantine,New (last 24 hrs),Region,Still admitted,Tests performed in last 24 hours
0,4,48,2,80,3/11/2020,0,0,NaN,3,ICT,2,8
1,5,61,0,95,3/11/2020,0,0,NaN,6,Punjab,0,7
2,6,84,14,171,3/11/2020,1,0,NaN,1,Sindh,13,55
3,7,20,0,28,3/11/2020,0,0,NaN,0,KP,0,2
4,8,3,0,0,3/11/2020,0,0,NaN,0,KPTD,0,0
5,9,19,1,18,3/11/2020,0,0,NaN,4,Balochistan,1,4
6,10,3,0,4,3/11/2020,0,0,NaN,0,AJK,0,0
7,11,10,2,26,3/11/2020,0,0,NaN,0,GB,2,4
8,4,52,2,85,3/12/2020,0,0,NaN,4,ICT,2,5
9,5,67,0,105,3/12/2020,0,0,NaN,6,Punjab,0,10
10,6,89,14,198,3/12/2020,2,0,NaN,5,Sindh,12,27
11,7,24,0,29,3/12/2020,0,0,NaN,4,KP,0,1
12,8,3,0,0,3/12/2020,0,0,NaN,0,KPTD,0,0
13,9,23,1,18,3/12/2020,0,0,NaN,4,Balochistan,1,4
14,10,3,0,8,3/12/2020,0,0,NaN,0,AJK,0,4

In [6]:
#Normalization
data.replace("?", np.nan, inplace=True)

In [7]:
missing_data=data.isnull()

In [8]:
missing_data.sum()

Unnamed: 0                             0
Cumulative                             0
Cumulative  Test positive              0
Cumulative  tests performed            0
Date                                   0
Discharged                             0
Expired                                0
Home Quarantine                      139
New  (last 24 hrs)                     0
Region                                 0
Still admitted                         0
Tests  performed in last 24 hours      0
dtype: int64

In [15]:
frequency=data["Home Quarantine"].value_counts().idxmax()

In [16]:
data["Home Quarantine"].replace(np.nan,frequency,inplace=True)

In [17]:
data["Home Quarantine"].isnull().sum()

0

In [19]:
# Convert data type to proper format
data.dtypes

Unnamed: 0                             int64
Cumulative                             int64
Cumulative  Test positive              int64
Cumulative  tests performed            int64
Date                                  object
Discharged                             int64
Expired                                int64
Home Quarantine                      float64
New  (last 24 hrs)                     int64
Region                                object
Still admitted                         int64
Tests  performed in last 24 hours     object
dtype: object

In [20]:
data["Home Quarantine"]=data["Home Quarantine"].astype("int64")

In [21]:
data.dtypes

Unnamed: 0                            int64
Cumulative                            int64
Cumulative  Test positive             int64
Cumulative  tests performed           int64
Date                                 object
Discharged                            int64
Expired                               int64
Home Quarantine                       int64
New  (last 24 hrs)                    int64
Region                               object
Still admitted                        int64
Tests  performed in last 24 hours    object
dtype: object